Repository willkunz13/dev.to, pull requests merged in 2020-05, with the labels that each got.

#12 BE Feature: Add collection index + testing
  .travis.yml
  Gemfile
  Gemfile.lock
  app/controllers/collections_list_controller.rb
  app/models/article.rb
  app/models/collection_list.rb
  app/models/collection_list_article.rb
  app/models/user.rb
  app/views/collections_list/index.html.erb
  config/routes.rb
  db/migrate/20200511220254_create_collection_lists.rb
  db/migrate/20200511220400_create_collection_list_articles.rb
  db/schema.rb
  spec/factories/collections_list.rb
  spec/models/article_spec.rb
  spec/models/collection_list_articles_spec.rb
  spec/models/collection_list_spec.rb
  spec/models/user_spec.rb
  spec/requests/collection_list_spec.rb
  spec/services/users/delete_spec.rb
Labels: enhancement, sprint 3: collections index

#16 Feature: Add articles to collections table in db
  app/assets/images/collections-icon.svg
  app/assets/stylesheets/collections.scss
  app/assets/stylesheets/minimal.scss
  app/controllers/collections_list_controller.rb
  app/javascript/collectionForm/collectionForm.jsx
  app/javascript/collectionList/collectionList.jsx
  app/javascript/packs/collectionList.jsx
  app/poros/complete_collection.rb
  app/poros/complete_collection_list.rb
  app/views/articles/_sidebar_nav.html.erb
  app/views/collections_list/index.html.erb
  config/routes.rb
  db/schema.rb
  spec/requests/collection_list_spec.rb
Labels: Final Sprint: Articles -> collections

#18 Hb/add collections
  app/assets/images/plus-icon.svg
  app/assets/images/plus-successful.svg
  app/assets/stylesheets/add-articles.scss
  app/assets/stylesheets/collections.scss
  app/assets/stylesheets/minimal.scss
  app/javascript/addToCollection/addToCollection.jsx
  app/javascript/collectionContainer/collectionContainer.jsx
  app/javascript/collectionForm/collectionForm.jsx
  app/javascript/collectionList/collectionList.jsx
  app/javascript/packs/addToCollection.jsx
  app/javascript/packs/collectionContainer.jsx
  app/javascript/packs/collectionList.jsx
  app/poros/complete_collection.rb
  app/views/articles/show.html.erb
  app/views/collections_list/index.html.erb
Labels: FE - Button and Fetch, Final Sprint: Articles -> collections
